.sign_in {
  background: transparent;
  border: 2px solid black;
  color: black;
}

.sign_in:hover {
  color: white;
}

.button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  background: rgb(44, 44, 44);
  color: white;
  cursor: pointer;
}

.button:hover {
  background: black;
}
