.basket_items {
  display: flex;
  flex-direction: column;
}

.basket_items__title_container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transform: translateY(-9rem);
  padding: 0 2rem 0.5rem;
}

.basket_items__title_container h1 {
  color: white;
  margin: 0;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  word-spacing: 2px;
}

.basket_items__title_container h1 small {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: yellow;
}

.basket_items__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  margin-top: -8rem;
  box-shadow: 0 2px 8px 2px rgba(200, 200, 200, 0.2);
}

.cart_empty {
  padding: 3rem;
  margin-top: -8rem;
  background: white;
  text-align: center;
}

.cart_empty__btn {
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
  background: black;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 30px;
  font-family: "carter one", cursive;
  font-size: 1.5rem;
}
