.site_header {
  transition: 0.2s ease;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 50;
}

.site_header a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.site_header__logo {
  flex: auto;
  font-size: 2rem;
  font-family: "Carter One", cursive;
}

.site_header__nav_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.site_header__nav a {
  padding: 1rem;
}

.site_header__user_auth {
  margin-left: 1rem;
}

.site_header.sticky {
  position: sticky;
  background-color: #fff200;
}

.site_header.sticky a {
  color: black;
}

/* basket button */

.site_header__basket {
  padding: 0 1rem;
  position: relative;
  font-size: 1.7rem;
  margin-top: -0.5rem;
}

.site_header.sticky .site_header__basket_link:hover {
  color: red;
}

.site_header__basket_quantity {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  font-weight: bold;
  background: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  right: 0.5rem;
}

.site_header.sticky
  .site_header__basket_link:hover
  .site_header__basket_quantity {
  background: black;
}
