.basket_items__title_container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transform: translateY(-9rem);
  padding: 0 2rem 0.5rem;
}

.basket_items__title_container h1 {
  color: white;
  margin: 0;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  word-spacing: 2px;
}

.basket_items__title_container h1 small {
  font-size: 1rem;
  margin-left: 0.5rem;
  color: yellow;
}

.basket_items__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  margin-top: -8rem;
}

.basket_item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.basket_item::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 1px;
  background: #e4e4e4;
  bottom: 0;
  left: 2.5%;
}

.basket_item:last-child::after {
  display: none;
}

.basket_item__image {
  width: 120px;
  height: 120px;
  margin-right: 2rem;
}

.basket_item__title {
  font-family: "Carter One", cursive;
}
